
html, body, .container {
  height: 90%;
  width: revert;
  margin: 0;
}


.container {  
  background-color: #c2d4dd;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.3fr 0.5fr 2.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Button Button Button"
    "Information Information Information"
    "results playerInput Numbers";
}

.button {
  justify-self: center;
  align-self: center;
  grid-area: Button;
  width: 25%;
}

.information {
  background-color: #eaece5;
  justify-self: center;
  text-justify:inter-ideograph;
  align-self: center;
  grid-area: Information;
  width: 60%;
}

.results {  

  background-color: #b2c2bf;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0.7em 0.1em;
  grid-auto-flow: row;
  justify-content: center;
  align-content: space-around;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "c2r5 c3r5"
    "c0r5 c1r5"
    "c2r4 c3r4"
    "c0r4 c1r4"
    "c2r3 c3r3"
    "c0r3 c1r3"
    "c2r2 c3r2"
    "c0r2 c1r2"
    "c2r1 c3r1"
    "c0r1 c1r1"
    "c2r0 c3r0"
    "c0r0 c1r0";
  grid-area: results;
}


.playerInput {  

  background-color: #b9b0b0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: auto;
  gap: 1em 1em;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:

    "guess50" "guess51 guess52 guess53"
    "guess40" "guess41 guess42 guess43"
    "guess30" "guess31 guess32 guess33"
    "guess20" "guess21 guess22 guess23"
    "guess10" "guess11 guess12 guess13"
    "guess00" "guess01 guess02 guess03"
    ;
  grid-area: playerInput;
}


.numbers {  
  background-color: #8ca3a3;
  text-align: center;
  font-size: xx-large;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5em 1em;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "num9"
    "num8"
    "num7"
    "num6"
    "num5"
    "num4"
    "num3"
    "num2"
    "num1"
    "num0";
  grid-area: Numbers;
}

.circle {
  border: 2rem solid #484f4f;
  font-size: 2rem;
  font-weight: bold;
  color: #f0f0f0;
  text-align: center;
  justify-items: center;
  background-color: #475353;
  border-color: #475353;
  border-radius: 50%;
}

.numberCircle {
  border: 1.5px solid black;
  background-color: #f0f0f0;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  justify-items: center;
  border-radius: 50%;
}

.diamond {
  width: 0;
	height: 0;

	border: 1rem solid transparent;
	border-bottom: 1rem solid #103252;
	position: relative;
	top: -1rem;
}
.diamond:after {
	content: '';
	position: absolute;
	left: -1em; 
	top: 1rem;
	width: 0;
	height: 0;
	border: 1rem solid transparent;
	border-top: 1rem solid #103252;
}

